<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/hrm">HR Manager</a>
            <a class="nav-link" href="/employee">Employee</a>
            <a class="nav-link" href="/accounts/login">Login</a>
            <a class="nav-link" href="/accounts/logout">Logout</a>
            <a class="nav-link" href="/signup">Signup</a>
            
          </div>
        </div>
      </nav>

       
        

{% block body_block %}
{% endblock %}
</body>
</html>
