{% extends 'app7/base.html' %}
{% load static %}
{%block body_block%}
<!DOCTYPE html>
<html>
    <head>
       
        <link rel="stylesheet" href="{%static "css/style1.css" %}">
        
    </head>
    <body>
        
        

    <center>
      <img src = "{% static "/image/emp.jpg" %} ">
      <h1>Welcome To Elearn InfoTech</h1>
    </center>

     <p>

        ELearn Infotech is a Realtime Training Company offering Courses on varied IT Technologies like Web Design & PHP with MySQL, Digital Marketing, Fullstack Development, Python, React JS, Node JS, UI/UX Designing & Development, Oracle Modules, Angularjs, SAP Modules, Cloud Computing, Graphic Designing etc. Established in 2016 ELearn Infotech has successfully Trained upwards of 25,000+ Students. ELearn Infotech offers Excellent Software courses with end to end support to the candidates. ELearn Infotech is a one stop shop for IT services & Training in Hyderabad, India.
        ELearn Infotech is a Realtime Training Company offering Courses on varied IT Technologies like Web Design & PHP with MySQL, Digital Marketing, Fullstack Development, Python, React JS, Node JS, UI/UX Designing & Development, Oracle Modules, Angularjs, SAP Modules, Cloud Computing, Graphic Designing etc. Established in 2016 ELearn Infotech has successfully Trained upwards of 25,000+ Students. ELearn Infotech offers Excellent Software courses with end to end support to the candidates. ELearn Infotech is a one stop shop for IT services & Training in Hyderabad, India.

     </p>


     {% endblock %}
     
</body>
</html>