{% extends 'app7/base.html' %}
{% load static %}
{%block body_block%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{%static "css/style2.css" %}">
    </head>
    <body>
        <center>
        <h1>HR MANAGER PAGE</h1><br>
        <a href="/form"> <button>ADD EMPLOYEE</button></a> <a href="/sample"> <button>VIEW EMP DATA</button>  </a> <br><br>
        <a href="/newsform"><button>ADD LATEST NEWS</button></a> <a href="/holiday" > <button>ADD CALENDER</button></a>
      </center>
     {% endblock %}
     
    </body>
</html>