{% extends 'app7/base.html' %}
{%block body_block%}
{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{%static "css/style1.css" %}">


    </head>
    <body>
        <center>
        <h1>LATEST NEWS</h1>
        <table border="2">
            <thead>
                
                <th>DETAILS</th>
            </thead>
        {% for i in n %} 
         <tr>

            <td>{{i.noccation}}</td>
         </tr>   
        {% endfor %}

        </table>
        <br><br>
        <a href="/calenderholiday"><button>CALENDER HOLIDAYS</button></a>

     {% endblock %}
     </center>
    </body>
</html>